/* styles.css */

.crpIntro {
    color: burlywood;
}

.jamIntro {
    color: purple;
}

.ssIntro {
    color: crimson;
}

#jamTitle {
    background-color: rgb(76, 16, 215);
}

#crpTitle {
    background-color: violet;
}

#ssTitle {
    background-color: lightslategrey;
}

body {
    background-color: rgb(99, 156, 164);
}